@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-bottom" role="alert">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
                    <span class="sr-only">Toggle cookie consent banner</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
            </div>
            <div class="collapse navbar-collapse">
                <p class="navbar-text">
                    為了方便您下次瀏覽相同網站時套用同樣的設定或是為您提供更實用的服務，請同意使用。
                </p>
                <div class="navbar-right">
                    <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">接受</button>
                    <button id="btncancle" type="button" class="btn btn-default navbar-btn">拒絕</button>
                    <a asp-page="/Privacy" class="btn btn-info navbar-btn">了解更多</a>
                </div>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
    <script>
        $("#btncancle").click(function () {
            document.querySelector("#cookieConsent").classList.add("hidden");
        });
    </script>
}