@{ 
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>帳戶管理</h2>

<div>
    <h4>更改您的帳戶設定</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
