@page
@model Nonameblog.Pages.Nomeblog.API.DataModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data</title>
</head>
<body>
</body>
</html>
