@page
@model ContactModel
@{
    ViewData["Title"] = "聯絡我們";
}

<address style="font-family:DFKai-SB">
    <strong>聯絡我：</strong> <a href="mailto:as147123456@yahoo.com.tw">as147123456@yahoo.com.tw</a><br />

</address>
