@page
@model Nonameblog.Pages.CustomErrorModel
@{
    ViewData["Title"] = "CustomError";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>發生未知錯誤,等會再來看吧！...</h2>
<p></p><br />
<a asp-page="/Nomeblog/Index">去論壇列表探索其他文章吧</a>
