@page
@model Nonameblog.Pages.MessageModel
@{
    ViewData["Title"] = "Message";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="alert alert-danger">
    <strong>@Model.Message.</strong> 
</div>

