@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="alert alert-info">
    <strong><Center>訊息!</Center></strong>
    <font size="4">為了方便您下次瀏覽相同網站時套用同樣的設定或是為您提供更實用的服務，請同意使用。</font>
</div>
<p style="font-family:DFKai-SB;width:auto;line-height:40px">
    Cookie 是您在瀏覽網站時，網站傳送給瀏覽器的一小段文字，可讓網站儲存您的瀏覽資訊 (例如您的偏好語言和其他設定)，方便您下次瀏覽相同網站時套用同樣的設定或是為您提供更實用的服務。
    
    Cookie 所扮演的角色非常重要，如果沒有 Cookie，使用網路時將會有許多不便之處。

    我們使用 Cookie 的目的有很多。舉例來說，我們會使用 Cookie 儲存您的安全搜尋偏好設定、顯示更貼近您需求的廣告、計算網頁的訪客人數、協助您註冊我們的服務、保護您的資料，以及記住您的廣告設定。
</p>
